Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Author
Shayan zahid

# objectives:
- List popular languages for Data Science
- list popular libs for data science
- list popular tools for data science

some of the commonly used libararies for data science are:
1. Python
2. R
3. SQL

some of the used libraries are:
1. Numpy
2. ggplot
3. pandas
4. Keras

|Data science tools|
|------------------|
|anaconda| 
|jupyter notebooks|
|R studio|

Below are a few examples of evaluating arithmetic expressions in Python:
1. Addition 5 + 3 = 8

In [3]:
(3*4)+5

17

this will convert 200 minutes to hours by diving by 60:

In [6]:
200/60

3.3333333333333335